#
# Include core OSP UPG modules
#
source "src/lib/osp/kconfig/Kconfig.osp_upg"

#
# Include platform/vendor OSP UPG modules
#
#osource "platform/*/kconfig/Kconfig.osp_upg"
#osource "vendor/*/kconfig/Kconfig.osp_upg"
